@import "tailwindcss";

@layer base {
  html {
    font-family: var(--font-league-spartan), system-ui, sans-serif;
  }
  
  body {
    font-family: var(--font-league-spartan), system-ui, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 175%;
    letter-spacing: 0;
  }
}

